upstream {{__group}}@{{name}} {
    zone shm_{{name}} 256k;

    dns_update {{dns.update}};
    dns_add_down on;

    {{servers}}

    check passive type=http rise={{check@http.rise}} fall={{check@http.fall}} timeout={{check@http.timeout}} interval={{check@http.interval}};
    check_request_uri {{check@http.request.method}} {{check@http.request.uri}};
    check_response_codes {{check@http.response.codes}};
    check_response_body {{check.response.match}};
}
